/* Google Font 'Poppins'  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #111727;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 90%;
    height: 100%;
    margin-left: 7%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.podcast_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcast-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
}

.podcast-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.podcast-title {
    text-align: center;
}
header .menu_side, .song_side {
    position: relative;
    width: 25%;
    height: 100%;
    /* border: 1px solid #fff; */
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

header .song_side {
    width: 75%;
    height: 90%;
    background: #0b1320;
}

header .menu_side .menu_song {
    width: 100%;
    height: 300px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
}
header .menu_side .menu_song li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu_side .menu_song li:hover{
    background: rgb(105, 105, 170,.1);
}
header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
header .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
}
header .menu_side .menu_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
header .menu_side .menu_song li .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}

 .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow-wrap: break-word;
    border-radius: 10px;
    transform: translateX(-30px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd; border-radius: 10px;}
 
  .dropdown:hover .dropdown-content {display: block;}
  

 header .song_side {
     height: 100%;
     min-height: fit-content;
     width: 100%;
 }
 header .song_side::before{
     content: '';
     position: absolute;
     width: 100%;
     height: 300px;
     z-index: -1;
 }
 header .song_side nav{
    width: 100%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side nav ul{
    display: flex;
 }
 header .song_side nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side nav ul li:hover{
   color: #fff;
 }
 header .song_side nav ul li:nth-child(1){
   color: #fff;
 }
 header .song_side nav ul li span{
   position: absolute;
   width: 100%;
   height: 2.5px;
   background: #36e2ec;
   bottom: -5px;
   left: 0;
   border-radius: 20px;
 }
 header .song_side nav .search{
   position: relative;
   width: 40%;
   padding: 1px 10px;
   border-radius: 20px;
   color: gray;
 }
 header .song_side nav .search::before{
     content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   background: rgb(184, 184, 184,.1);
   backdrop-filter: blur(5px);
   z-index: -1;
 }
 header .song_side nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
 }
 header .song_side nav .search input{
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
 }
 header .song_side nav .user{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
 }
 header .song_side nav .user img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
 }

 header .song_side .content {
     width:90%;
     height: 30%;
     margin: auto;
     /* border: 1px solid #fff; */
     padding-top: 20px;
 }
 
 header .song_side .content .podcastAuthor h1 p{
    font-size: 25px;
    font-weight: 600;
 }
 header .song_side .content{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
 }
 header .song_side .content .buttons{
    margin-top: 15px;
 }
 header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .content .buttons button:hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
 }
 header .song_side .content .buttons button:nth-child(2){
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
 }
 header .song_side .content .buttons button:nth-child(2):hover{
    border: 2px solid #36e2ec;
    background: #36e2ec;
    color: #fff;
 }

 header .song_side .popular_song {
     width: 90%;
     height: auto;
     /* border: 1px solid #fff; */
     margin: auto;
     margin-top: 15px;
 }
 header .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .popular_song .h4 .bi:hover{
    color: #fff;
 }

 header .song_side .popular_song .pop_song {
     width: 100%;
     height: 150px;
     margin-top: 15px;
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
 }
 header .song_side .popular_song .pop_song::-webkit-scrollbar{
     display: none;
 }
 header .song_side .popular_song .pop_song li{
     min-width: 100px;
     height: 140px;
     list-style-type: none;
     margin-right: 10px;
     transition: .3s linear;
 }
 header .song_side .popular_song .pop_song li:hover{
     background: rgb(105, 105, 170,.1);
 }
 header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .song_side .popular_song .pop_song li .img_play img{
   width: 100%;
   height: 100%;
 }
 header .song_side .popular_song .pop_song li .img_play .bi{
   position: absolute;
   font-size: 20px;
   cursor: pointer;
   transition: .3s linear;
   opacity: 0;
 }
 header .song_side .popular_song .pop_song li .img_play:hover .bi{
   opacity: 1;
 }
 header .song_side .popular_song .pop_song li h5{
   padding: 5px 0px 0px 5px;
   line-height: 15px;
   font-size: 10px;
 }
 header .song_side .popular_song .pop_song li h5 .subtitle{
   font-size: 9px;
   color: #4c5262;
 }

 header .song_side .popular_artists {
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
}
header .song_side .popular_artists .h4{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header .song_side .popular_artists .h4 .bi{
   color: #a4a8b4;
   cursor: pointer;
   transition: .3s linear;
}
header .song_side .popular_artists .h4 .bi:hover{
   color: #fff;
}
header .song_side .popular_artists .item{
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
header .song_side .popular_artists .item::-webkit-scrollbar{
  display: none;
}
header .song_side .popular_artists .item li{
 list-style-type: none;
 position: relative;
 min-width: 60px;
 height: 60px;
 /* background-color: #fff; */
 border-radius: 50%;
 margin-right: 20px;
 cursor: pointer;
}
header .song_side .popular_artists .item li img{
 width: 100%;
 height: 100%;
 border-radius: 50%;
 position: absolute;
}
.podcastAuthInfo{
    font-size: small;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin: 7%;
}

.podcast {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 75%;
    max-height: 200px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
  }
  
  .podcast:hover {
    background-color: grey;
  }
  
  .podcast__cover {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .podcast__cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .podcast__info {
    flex: 1;
  }
  
  .podcast__title {
    font-size: 24px;
    color: black;
    margin: 0;
  }
  
  .podcast__description {
    font-size: 16px;
    color: black;
    margin: 10px 0;
  }
  
  .podcast__player {
    width: 100%;
    margin-top: 10px;
  }