{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'register_style.css' %}">
</head>
<body>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form method="post" action="{% url 'register_attempt' %}">
                    {% csrf_token %}
                    <h1>Create Account</h1>
                    {% if messages %}
                    {% for message in messages %}
                    <h4 class="error">
                        {{ message }}
                    </h4>
                    {% endfor %}
                    {% endif %}
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your email for registration</span>
                    <input type="text" name="username" placeholder="Name" />
                    <input type="email" name="email" placeholder="Email" />
                    <input type="password" name="password" placeholder="Password" />
                    <button type="submit" value="Reset">Set Password</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form method="post" action="/reset/{{auth_token}}">
        
                    {% csrf_token %}
                    <h1>Reset Password</h1>
                    {% if messages %}
                    {% for message in messages %}
                    <h4 class="error">
                        {{ message }}
                    </h4>
                    {% endfor %}
                    {% endif %}
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input type="password" name="password" required="required">
                    <span>New Password</span>
                    <input type="password" name="confirm_password" required="required">
                    <span>Confirm Password</span>
                    <button type="submit">set password</button>
                </form>
        
        
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <p>
                &#169; 2023 cQube. All right reserved
            </p>
        </footer>
        </div>
        </form>
        <script src="{% static 'login.js' %}"></script>
    </div>
</body>
</html>